/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */


body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.fwh-slide {
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
}

.add-margins {
    max-width: 90vw;
    margin: 0 auto;
}


.landing {
    text-align: center;
    background-image: url('/Users/yosh/dev/clipboard-landing-page/images/bg-header-desktop.png');
    background-size: cover;
    /* height: 100vh; */
    padding-top: 15vh;
} 

button {
    border-radius: 30px;
    color: white;
    padding: 1em;
    min-width: 12vw;
    margin: 1em .5em 0 .5em;
    font-size: 1em;
}

h1 {
    font-weight: 600;
    font-size: 3em;
    margin-top: 10vh;
}

h2 {
    font-weight: 400;
    font-size: 2.5em;
}

h3 {
    font-weight: 400;
    font-size: 2em;
}

h4 {
    font-weight: 400;
    font-size: 1.5em;
}

p {
    margin: 2em 0 2em 0;    
}

.strong-cyan {
    background-color: hsl(171, 66%, 44%);
}

.light-blue {
    background-color: hsl(233, 100%, 69%);
}

.first-section {
    text-align: center;
}

.svg-vert-padding {
    padding: 0 0 4em 0;
}

.half-split {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left-half {
    grid-column: 1;
    /* background-color: blue; */
}

.right-half {
    grid-column: 2;
    /* background-color: red; */
    text-align: left;
    padding: 3em;
}

.img-computer {
    margin-right: -100px;
}

footer {
    background-color: #f1f1f1;
}

.tri-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tri-columns .column-1 {
    background-color: red;
}

.tri-columns .column-2 {
    background-color: white;
}

.tri-columns .column-3 {
    background-color: blue;
}

.fifths {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}