/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */


body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.fwh-slide {
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
}

/* .half-fwh {
    height: 35vh;
    margin-top: 25vh;
    height: 50vh;
    display: flex;
    align-items: center;
} */

.footer-combo {
    height: 50vh;
}

.half-fwh button {
    margin-top: 5vh;
}

.add-margins {
    max-width: 90vw;
    margin: 0 auto;
}


.landing {
    text-align: center;
    background-image: url('/Users/yosh/dev/clipboard-landing-page/images/bg-header-desktop.png');
    background-size: cover;
    /* height: 100vh; */
    padding-top: 15vh;
} 

button {
    border-radius: 30px;
    color: white;
    padding: 1em;
    min-width: 12vw;
    margin: 1em .5em 0 .5em;
    font-size: 1em;
}

h1 {
    font-weight: 600;
    font-size: 3em;
    margin-top: 10vh;
}

h2 {
    font-weight: 400;
    font-size: 2.5em;
}

h3 {
    font-weight: 400;
    font-size: 2em;
}

h4 {
    font-weight: 400;
    font-size: 1.5em;
}

p {
    margin: 2em 0 2em 0;    
    line-height: 1.5em;
    color: hsl(201, 11%, 66%);
}

.main-content-column {
    padding-right: 14vw;
    padding-left: 14vw;
    /* padding-top: 15vh; */
}

/* Dark Grayish Blue: hsl(210, 10%, 33%)
Grayish Blue: hsl(201, 11%, 66%) */

.strong-cyan {
    background-color: hsl(171, 66%, 44%);
}

.light-blue {
    background-color: hsl(233, 100%, 69%);
}

.strong-cyan:hover {
    /* background-color: hsl(210, 10%, 33%); */
    opacity: 0.5;
}

.light-blue:hover {
    /* background-color: hsl(201, 11%, 66%); */
    opacity: 0.5;
}

.first-section {
    text-align: center;
}

.svg-vert-padding {
    padding: 0 0 4em 0;
}

.half-split {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left-half {
    grid-column: 1;
    /* background-color: blue; */
}

.right-half {
    grid-column: 2;
    /* background-color: red; */
    text-align: left;
    padding: 2em;
}

.img-computer {
    /* margin-right: -100px; */
    position: absolute;
    right: 50vw;
    /* overflow: hidden; */
}

footer {
    background-color: #f1f1f1;
    height: 30vh;
}

.tri-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.fifths {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    margin-top: 3vw;
    margin-bottom: 5vw;
    /* padding-top: 3vw;
    padding-bottom: 5vw; */
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5vh;
    /* place-content: center; */
}

.footer-links .footer-2 {
    padding-top: 0vh;
}

.footer-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.footer-3 img {
    padding-left: 3vw;
}

button:hover, .footer-3:hover {
    cursor: pointer;
}

a, .footer-3 {
    text-decoration: none;
    color: black;
}

a:hover, .footer-3:hover {
    color: hsl(171, 66%, 44%);
}



/* MEDIA QUERIES */
@media (min-width: 62em){
    .img-computer {
        width: 45%;
    }
    .img-devices {
        width: 50%;
    }
  }